@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, light --prefersdark, cupcake;
}

body {
    background-color: #f0fdf4; 
  margin: 0;
 padding: 0;
 max-width: 100%;
 overflow-x: hidden;
 box-sizing: border-box;
}